body {
	color: #ffffff;
	font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
}

.home1, .home2, .home3 {
	padding: 50px 50px;
}

.home1, .home3 {
	background: #07698d;
}

.home2 {
	background: #0d5c7c;
}

h1 {
	font-size: 46px;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: lighter;
}

.Btn {
	text-decoration: none;
	margin-top: 1%;
}

