body {
	background-color: #084d66;
	font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	color: white;
	margin: 2% 0% 2% 33%;
}

/*.slide {
	text-align: center;
	background-color: white;
	font-size: 20px;
}*/


#phrase {
	margin: 10% 10% 2% 10%;
	padding: 20px;
	text-align: center;
	background-color: white;
	font-size: 20px;
}

.Btn {
	margin-left: 43%;
}

#picture {
	width: 505px;
	height: 600px;
}