body {
	background-color: #084d66;
}

h2 {
	font-family: Arial;
	color: white;
	margin: 2% 0% 2% 33%;
}

.slide {
	text-align: center;
	background-color: white;
	font-size: 20px;
}


#phrase {
	margin: 10% 10% 2% 10%;
	padding: 20px;
	text-align: center;
	background-color: white;
	font-size: 20px;
}

/*Button*/

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #52c699;
	-webkit-box-shadow: 0px 1px 0px 0px #52c699;
	box-shadow: 0px 1px 0px 0px #52c699;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #41a07a), color-stop(1, #46b489));
	background:-moz-linear-gradient(top, #41a07a 5%, #46b489 100%);
	background:-webkit-linear-gradient(top, #41a07a 5%, #46b489 100%);
	background:-o-linear-gradient(top, #41a07a 5%, #46b489 100%);
	background:-ms-linear-gradient(top, #41a07a 5%, #46b489 100%);
	background:linear-gradient(to bottom, #41a07a 5%, #46b489 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#41a07a', endColorstr='#46b489',GradientType=0);
	background-color:#41a07a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #52c699;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #52c699;
	margin: 0% 0% 0% 45%;
    font-family: 'Gill sans', helvetica, sans-serif;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #46b489), color-stop(1, #41a07a));
	background:-moz-linear-gradient(top, #46b489 5%, #41a07a 100%);
	background:-webkit-linear-gradient(top, #46b489 5%, #41a07a 100%);
	background:-o-linear-gradient(top, #46b489 5%, #41a07a 100%);
	background:-ms-linear-gradient(top, #46b489 5%, #41a07a 100%);
	background:linear-gradient(to bottom, #46b489 5%, #41a07a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#46b489', endColorstr='#41a07a',GradientType=0);
	background-color:#46b489;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*Toggle*/

.pull-me{
    -webkit-box-shadow: 0 0 8px #258aae;
    -moz-box-shadow: 0 0 8px #258aae;
    box-shadow: 0 0 8px #258aae;
    cursor:pointer;
}
.panel {
	background: #aed7e8;
    background-size:90% 90%;

	display:none;
    font-family:garamond,serif;
}
.panel p{
    text-align:center;
}
.slide {
	margin:0;
	padding:0;
	border-top:solid 2px #289bc4;
}
.pull-me {
	text-align: center;
	display:block;
    position:relative;
    right:-25px;
    width:150px;
    height:20px;
	font-family:arial,sans-serif;
    font-size:14px;
	color:#ffffff;
    background:#289bc4;
	text-decoration:none;
	border-radius: 5px;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.pull-me p {
    text-align:center;
}
