body {
	background-color: #07698d;
	font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	color: white;
	margin: 2% 0% 2% 33%;
}

#block {
	margin-top: 7%;
}

.phrase {
	margin: 2% 10% 2% 10%;
	padding: 20px;
	text-align: center;
	background-color: white;
	font-size: 20px;
	border-radius: 35px;
}

.Btn {
	margin-left: 43%;
	margin-bottom: 2%;
}

.picture {
	width: 505px;
	height: 600px;
	margin-left: 33%;
}

.picture-none{
	display: none;
}