/*General*/

body {
	background: #0d5c7c;
    font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.input {
    padding: 12px;
    margin: 2% 0% 2% 43%;
    text-align: center;
    width: 150px;
    background-color: white;
}

h2, h3 {
    color: white;
    text-align: center;
}


em {
	font-weight: lighter;
}

#count {
	padding: 12px;
    text-align: center;
    width: 150px;
    background-color: white;
    margin: 2% 0% 2% 43%;
}