/*General*/

body {
	background: #0d5c7c;
    font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

h2, h3, h4 {
    color: white;
    text-align: center;
}


em {
    font-weight: lighter;
}

div, .number {
    text-align: center;
}

.input, .eachSide, .results {
    padding: 12px;
    text-align: center;
    display: inline-block;
}

.input {
    width: 150px;
    background-color: white;

}

.eachSide, .results {
    width: 100px;
}

.eachSide {
    background-color: #a1a9ae;
}

.results {
    background-color: white;
    margin-top: 2%;
    margin-right: 5%;
}

.annoucement {
    color: white;
    margin-top: 2%;
    font-size: 20px;
}

.plus {
    display: inline-block;
    color: white;
    margin-left: 5px;
    font-size: 24px;
}

.description {
    font-size: 20px;
}
