body {
	background-color: #07698d;
	font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	margin: 5% 10%;
}

h2 {
	color: white;
	text-align: center;
	margin-bottom: 5%;
}

.Collection {
	font-size: 18px;
	color: black;
	text-align: center;
	margin-top: 10%;
}

.Modal-content {
	color: black;
}
